{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Cagliostro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&display=swap" rel="stylesheet"> 
        <title>Temple de LolaSana</title>
    </head>
    <body>
        <header>
            <nav class="top-navbar">
                <a href="#">Home</a>
                <div class="dropdown">
                    <button class="dropbtn">Yoga
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="#">Link 1</a>
                      <a href="#">Link 2</a>
                      <a href="#">Link 3</a>
                    </div>
                  </div>
                <a href="#">Hypnothérapie</a>
                <a href="#">Lola</a>
                <a href="#">Articles</a>
                <a href="#">Contact</a>
            </nav>

        </header>

        
        {% block content %}
        {% endblock %}
        
    </body>
</html>