{% load static %}
<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Cagliostro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog_anniv.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet"> 
    <title>Mystérieux site dans les internets</title>
</head>
<body>
    <header>
        <div>
            Mystérieux site dans les internets
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>