{% extends 'blog/base_2.html' %}
{% load static %}
{% block content %}

<div class="petite-ligne">
    <div class="rect" id="rect6">
        <div class="rect-container2" id="game-content">
            <p style="font-size: 22px;">This is game</p>
            <div id="ligne-entree-jeu">
                <input id="entree" type="text" placeholder="c'est vide :(">
                <button id="launch-button" type="button" disabled>Lancer</button>
            </div>
            <p id="oups3"></p>
        </div>
    </div>        
</div>

<div class="petite-ligne">
    <div class="rect" id="rect7">
        <div class="rect-container2">
            <p id="oups">...</p>
            <p id="oups2"></p>
        </div>
    </div>
    
</div>

<script type="text/javascript" src="{% static 'js/dategame.js' %}"></script>

{% endblock %}