{% extends 'blog/base_2.html' %}
{% load static %}
{% block content %}

<div class="ligne">
    <p style="font-size: 22px;">This is game</p>
    <div id="ligne-entree-jeu">
        <input id="entree" type="text" placeholder="c'est vide :(">
        <button id="launch-button" type="button" disabled>Lancer</button>
    </div>
    <p id="oups3"></p>
    <p id="oups">Défaut</p>
    <p id="oups2"></p>
</div>

<div class="ligne">
    
</div>

<script type="text/javascript" src="{% static 'js/dategame.js' %}"></script>

{% endblock %}