{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div id="logo-space-div1"></div>
<div id="logo-div">
    <div id="logo-div2">
        <img src="{% static 'img/export_logo_001.png' %}">
    </div>
    
</div>
<div id="logo-space-div2">
    <div>Yoga . Hypnothérapie</div>
    <div>c o l l e c t i f  .  e n t r e p r i s e  .  i n d i v i d u e l</div>
</div>

<nav id="rect-line1">
    <div id="rect1">
        <div class="rect-content">
            test
        </div>
        
    </div>
    <div id="rect2">
        <div class="rect-content">
            test
        </div>
    </div>
    <div id="rect3">
        <div class="rect-content">
            test
        </div>
    </div>
    <div id="rect4">
        <div class="rect-content">
            test
        </div>
    </div>
</nav>
{% endblock %}