{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div id="logo-space-div1"></div>
<div id="logo-div">
    <div id="logo-div2">
        <img src="{% static 'img/export_logo_001.png' %}">
    </div>
    
</div>
<div id="logo-space-div2">
    <div>Yoga . Hypnothérapie</div>
    <div>c o l l e c t i f  .  e n t r e p r i s e  .  i n d i v i d u e l</div>
</div>

<div id="rect-line1">
    <div class="rect" id="rect1">
        <div class="rect-content">                   
            <img src="{% static 'img/yoga_pose.png' %}">
            <h2>Corps physique</h2>
            <p>
                Cette enveloppe corporelle n'est qu'éphémère, 
                pourtant elle est notre meilleur 
                intermédiaire avec l'esprit.
            </p>
        </div>
        
    </div>
    <div class="rect" id="rect2">
        <div class="rect-content">
            <img src="{% static 'img/eye_closed.png' %}">
            <h2>Inconscient</h2> 
            <p>
                Silencieux en apparence, chaque instant nous le 
                nourrissons d'informations et il nous informe en
                retour des messages que nous devons entendre.
            </p>
        </div>
    </div>
    <div class="rect" id="rect3">
        <div class="rect-content">
            <img src="{% static 'img/eye.png' %}">
            <h2>Conscience</h2>
            <p>
                Aucun cheminement intérieur n'arrive de nulle part, 
                une prise de conscience est nécessaire, 
                pour se reconnecter à notre réalité.
            </p>
        </div>
    </div>
    <div class="rect" id="rect4">
        <div class="rect-content">
            <img src="{% static 'img/book.png' %}">
            <h2>Connais-toi toi-même</h2>
            <p>
                Nous ne connaissons que ce que nous connaissons, 
                certaines réalités, même intérieur nous demeurent 
                inimaginable sans le petit coup de pouce de l'humanité 
                derrière nous.
            </p>
        </div>
    </div>
</div>
{% endblock %}