{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<!--
    <div id="logo-space-div1"></div>
<div id="logo-div">
    <div id="logo-div2">
        <img src="{% static 'img/export_logo_001.png' %}">
    </div>
    
</div>
<div id="logo-space-div2">
    <div>Yoga . Hypnothérapie</div>
    <div>c o l l e c t i f  .  e n t r e p r i s e  .  i n d i v i d u e l</div>
</div>
-->

<div id="logo-space-image" style="background-image: url({% static 'img/back-lola.jpg' %});">

    <div id="logo-div1">
        <img id="logo" src="{% static 'img/export_logo_001.png' %}">
    </div>

    <div id="headline">
        <p>Yoga . Hypnothérapie</p>
        <p>c o l l e c t i f   .   e n t r e p r i s e   .   i n d i v i d u e l</p>
    </div>
    

</div>

<div class="rect-line" id="rect-line1">
    <div class="rect" id="rect1">
        <div class="rect-content">                   
            <img class="symbol" src="{% static 'img/yoga_pose.png' %}">
            <h2>Corps physique</h2>
            <p>
                Cette enveloppe corporelle n'est qu'éphémère, 
                pourtant elle est notre meilleur 
                intermédiaire avec l'esprit.
            </p>
            <a class="rect-link">
                Intentions du yoga
            </a>
            <hr style="width:100px">
        </div>
        
    </div>
    <div class="rect" id="rect2">
        <div class="rect-content">
            <img class="symbol" src="{% static 'img/eye_closed.png' %}">
            <h2>Inconscient</h2> 
            <p>
                Silencieux en apparence, chaque instant nous le 
                nourrissons d'informations et il nous informe en
                retour des messages que nous devons entendre.
            </p>
            <a class="rect-link">
                Accès à l'intention
            </a>
            <hr style="width:100px">
        </div>
    </div>
    <div class="rect" id="rect3">
        <div class="rect-content">
            <img class="symbol" src="{% static 'img/eye.png' %}">
            <h2>Conscience</h2>
            <p>
                Aucun cheminement intérieur n'arrive de nulle part, 
                une prise de conscience est nécessaire, 
                pour se reconnecter à notre réalité.
            </p>
            <a class="rect-link">
                Objectifs et mise en action
            </a>
            <hr style="width:100px"> 
        </div>
    </div>
    <div class="rect" id="rect4">
        <div class="rect-content">
            <img class="symbol" src="{% static 'img/book.png' %}">
            <h2>Connais-toi toi-même</h2>
            <p>
                Nous ne connaissons que ce que nous connaissons, 
                certaines réalités, même intérieur nous demeurent 
                inimaginable sans le petit coup de pouce de l'humanité 
                derrière nous.
            </p>
            <a class="rect-link">
                Bibliographie
            </a>
            <hr style="width:100px">
        </div>
    </div>
</div>
<div class="rect-line" id="rect-line2">
    <div class="rect-big" id="rect5">
        <div class="rect-content">
            <h2>Ma démarche</h2>
            <p>
                I'm a paragraph. Click here to add your own text and 
                edit me. It’s easy. Just click “Edit Text” or double 
                click me to add your own content and make changes to 
                the font. I’m a great place for you to tell a story 
                and let your users know a little more about you.
            </p>
            <a class="rect-link">
                Ma vision
            </a>
            <hr style="width:100px">
        </div>
    </div>
    <div class="rect" id="rect6">
        <div id="portrait-container" class="rect-content">
            <img id="portrait" src="{% static 'img/lola_close.jpg' %}">
        </div>
    </div>
    <div class="rect" id="rect7">
        <div class="rect-content">
            <h2>Je suis Lola</h2>
            <p>
                Un être humain comme vous. hypersensible comme 
                vous. Sur un cheminement éternel vers mon alignement 
                intérieur et avec la vie que je choisis.
            </p>
            <a class="rect-link">
                Mon parcours
            </a>
            <hr style="width:100px">
        </div>
    </div>
</div>
<div class="rect-line" id="rect-line3">
    <div class="rect-big-big" id="rect8">
        <div class="rect-content">
            <h2>Chemin intérieur</h2>
            <p>
                I'm a paragraph. Click here to add your own text and 
                edit me. It’s easy. Just click “Edit Text” or double 
                click me to add your own content and make changes to 
                the font. I’m a great place for you to tell a story 
                and let your users know a little more about you.
            </p>
            <div id="circle-container">
                <div class="buble-text">
                    <div class="buble">
                        1.
                    </div>
                    Ecoute
                </div>
                
                <div class="buble-text">
                    <div class="buble" style="background: var(--green4)">
                        2.
                    </div>
                    Prise de <br> conscience
                </div>
                <div class="buble-text">
                    <div class="buble"  style="background: var(--violet-wix)">
                        3.
                    </div>
                    Désapprendre
                </div>
                <div class="buble-text">
                    <div class="buble"  style="background: var(--brun-wix)">
                        4.
                    </div>
                    Connexion
                </div>
                <div class="buble-text">
                    <div class="buble"  style="background: var(--bleu-wix)">
                        5.
                    </div>
                    Intuition
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<section class="anim-container">
    <div id="anim1">Premier Texte</div>
    <div id="anim2">Deuxième texte</div>
    <div id="anim3">Troisième texte</div>
</section>
-->
<div class="rect-line" id="rect-line4">
    <div class="rect-big-big" id="rect9">
        <div class="rect-content">
            <strong style="font-size: 100px">“</strong>    
            La synchronicité, c'est accepter de mettre le 
            hasard et la chance de côté, et de remplacer cela 
            par la confiance réciproque, de l'un à l'autre, 
            du conscient à l'inconscient, et de soi à l'univers    
            <strong style="font-size: 100px">”</strong>
        </div>
    </div>
</div>
{% endblock %}