{% extends 'blog/base_2.html' %}
{% load static %}
{% block content %}

<div class="ligne">
    <div class="rect" id="rect3">
        <div class="rect-container">
            You've been hacked <br>
            Immediately send $5,000 to Alexis Charron or your cat will be privé de croquettes. <br>
            This will be the only warning
        </div>
    </div>
</div>
<div class="petite-ligne">
    <div class="rect" id="rect5">

            <a id="return-link" href="{% url 'choix' %}">Fuir discrètement</a>

    </div>
</div>

{% endblock %}