{% load static %}
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Cagliostro&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Temple de LolaSana</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
        <div class=post_body>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}

    </body>
</html>
