{% extends 'blog/base.html' %}
{% load static %}


{% block content %}

<!-- <div id="vinyasa-back-transition"></div> -->

<div id="natal-back">
    <h1>Qu'est-ce que le Yoga Pré & Post natal ?</h1>

    <p class='paragraphe-droite'>
        De toute évidence, cette pratique s'adresse à une population très particulière : 
        les femmes enceintes ou avec un nouveau-né. <br>
        Ne remplaçant pas les cours de préparation à l'accouchement ou encore 
        la rééducation périnéale post-accouchement, le yoga est un réel complément 
        qui peut changer la manière d'aborder le corps enfantant et se remettant.
    </p>

    <img class="yoga-img" src="{% static 'img/yoga/baddhakonasana.jpg' %}">
    
    <p class="paragraphe-milieu">
        La plupart des gens ne comprennent pas réellement leur corps, le fonctionnement de 
        la respiration et l'impact de la posture sur la santé ; de part la magie de la création 
        de l'enfant au creux de son corps, la femme a besoin plus que tout de prendre conscience 
        du corps, du souffle, de son propre bien-être fondamental. <br> <br>
        Enceinte ou pas, nous devons retrouver l'espace dans le buste et réinstaller ce que l'on 
        appelle la respiration physiologique ; et en pré comme en post natal, reprendre conscience 
        du périnée et de la force et souplesse du périnée est essentiel. <br> <br>
        Plus d'informations dans les travaux de Dr Bernadette de Gasquet.
    </p>

    <img class="yoga-img" src="{% static 'img/yoga/back-lola_BW.jpg' %}" style="margin-left: 25%;">

</div>

{% endblock %} 