{% extends 'blog/base.html' %}
{% load static %}


{% block content %}

<!-- <div id="vinyasa-back-transition"></div> -->

<div id="yin-back">
    <h1>Qu'est ce que le Yin Yoga ?</h1>

    <p class='paragraphe-droite'>
        Le yoga Yin est comme le nom l'indique une pratique dite YIN, 
        c'est-à-dire du côté doux des énergies, lunaire, vulnérable. 
        Au lieu de se pratiquer dans la vitesse, au rythme dynamique 
        du souffle pour enchaîner les postures de force, le Yin se 
        pratique dans l'immobilité, dans des postures plutôt passives 
        visant à étirer et stimuler les fascias du corps (tissus conjonctifs).
    </p>

    <img class="yoga-img" src="{% static 'img/yoga/baddhakonasana.jpg' %}">
    
    <p class="paragraphe-milieu">
        Les postures statiques sont majoritairement au sol, dans des 
        étirements pas toujours confortables à priori, avec l'aide 
        de support (couvertures, coussins, briques...) pour nous 
        permettre de tenir dans les posture et y lâcher prise. <br> <br>
        Le travail et les effets sont à la fois mentaux : acceptation 
        de l'immobilité, lâcher prise, immobilité permettant la 
        contemplation et la méditation, contact avec les émotions 
        logées dans les tissus. Et à la fois sur le plan physique : 
        l'espace se recréé dans les fascias et muscles libérant 
        les tensions et raideurs qui impact posture et structure osseuse. 
        Egalement, les méridiens se retrouvent stimulés le long du corps 
        ou massés selon la posture ce qui permet également d'accorder de 
        l'énergie et du soin à nos organes vitaux.
    </p>

    <img class="yoga-img" src="{% static 'img/yoga/back-lola_BW.jpg' %}" style="margin-left: 25%;">

</div>

{% endblock %} 