html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --green1: #B0CC99;
  --green2: #677E52;
  --green3: #B7CA79;
  --green4: #A7BEAE;
  --beige: #F6E8B1;
  --brown: #89725B;
  --soft-pink: rgb(255, 224, 229);
  --soft-pink-hover: rgb(255, 182, 194);
  --soft-pink-alpha: rgba(255, 224, 229, 0.7);
  --rouille: rgb(255, 175, 0, 1);

  --violet-wix: rgba(181, 170, 170, 1);
  --light-volet-wix: rgba(241, 229, 229, 1);
  --bleu-wix: rgba(182, 209, 217, 1);
  --light-bleu-wix: rgb(222, 229, 231, 1);
  --brun-wix: rgba(229, 199, 181, 1);
  --jaune-wix: rgba(242, 226, 145, 1);
}

.post, .page-header {
    font-family: Cagliostro, sans-serif;
}

footer {
  font-family: Cagliostro;
  text-align: center;
}

.top-navbar {
    overflow : hidden;
    background-color: var(--green4);
    margin: -10px -10px 0em -10px;
    font-family: Pacifico, sans-serif;
    color: #A1A1A1;
    font-size: 22px;
    min-width: 1400px;
  }
  
  /* Links inside the navbar */
.top-navbar a {
    float: left;
    text-align: center;
    text-decoration: none;
  }

  /* Couleur et taille des textes des menus de la navbar */
.top-navbar a, .top-navbar .dropdown .dropbtn {
    color: white;
    padding: 1.5em 2.5em 1.5em 2.5em;
    font-size: 26px;

    
}

  /* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
.top-navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--beige);
  }
  
  /* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(220, 220, 220, 0.7);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgba(200, 200, 200, 1);
  }
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
  }

#logo-space-div1 {
  background: var(--green1);
  height: 200px;
  min-width: 1400px;
  margin: 0px -10px 0px -10px;
}

#logo-space-div2 {
  padding-top: 140px;
  background: var(--beige);
  min-height: 360px;
  min-width: 1400px;
  margin: 0px -10px 0px -10px;
}

/* SOUS TITRES EN DESSOUS DU LOGO */
#logo-space-div2 div {
  font-family: Pacifico;
  font-size: 27px;
  padding-bottom: 0.8em;
  text-align: center;
  color: var(--rouille);
}

#logo-div1 {
  position: relative;
}

#logo-div2 {
  left: 50%;
  position: absolute;
}

#logo-div2 img {
  width: 650px;
  margin-left:-50%;
  margin-top: -15%;
}

.rect-line {
  box-sizing: border-box;
  margin: 0px -10px 0em -10px;
  min-width: 1400px;
  position: relative;
}

.rect {
  float: left;
  width: 25%;
}

.rect-big {
  float: left;
  width: 50%;
}

.rect-big-big {
  float: left;
  width: 100%;
}

#rect1 {  
  background: var(--violet-wix);
}

#rect2 {
  background: var(--bleu-wix);
}

#rect3 {
  background: var(--brun-wix);
}

#rect4 {
  background: var(--green4);
}

#rect5 {
  background: var(--green4);
}

#rect6 {
  background: linear-gradient(0.25turn, var(--green4), #5E4C3E, var(--violet-wix));
}

#rect7 {
  background: var(--violet-wix);
}

#rect8 {
  background: var(--light-bleu-wix);
  height: 700px;
}

#rect-line2 .rect, #rect-line2 .rect-big {
  height: 530px;
}

#rect-line1 .rect {
  height: 550px;
}

.rect-content {
  overflow: hidden;
  text-align: center;
  min-height: 530px;
}

.rect-content h2 {
  margin-top: 20px;
  font-size: 36px;
  text-align: center;
  font-family: Oswald, sans-serif;
  Color: white;
}

.rect-content .symbol {
  margin-top: 30px;
  margin-bottom: 20px;
  min-height: 8em;
  max-height: 8em;
}

#portrait {
  text-align: center;
  /*border-color: var(--green4);
  border-width: 10px;
  border-style: solid;
  border: 3px solid transparent;
  border-image: linear-gradient(#f6b73c, #4d9f0c) 30;*/
  height: 530px;
}


.rect-content p {
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
  font-family: Gothic A1, sans-serif;
}

.rect-content a {
  text-align: center;
  font-family: Pacifico;
  font-size: 20px;
}

#rect8 .rect-content {
  padding: 80px 80px 80px 80px;
  align-content: center;
}

#rect8 .rect-content p {
  margin: 30px 300px 40px 300px;
}

#rect8 .rect-content h2 {
  font-size: 52px;
}

#circle-container {
  min-width: 1200px;
  
}

.buble-text {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  font-family: Gothic A1, sans-serif;
  font-size: 20px;
  min-width: 150px;
}

.buble {
  font-family: Cagliostro, sans-serif;
  border-radius: 50%;
  font-size: 40px;
  height: 80px;
  line-height: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 80px;
  text-align: center;
  background: var(--beige);
}

/* ######### ANIMATION STUFF ############ */

.anim-container {
  width: 1400px;
  height: 520px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.anim-container div {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 75px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-transform: uppercase;
  background: var(--violet-wix);
  color: white;
  font-family: Cagliostro;
  width: 250px;
  opacity: 0;
  }

#anim1 {
  animation-duration: 18s;
  animation-name: slide-left;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#anim2 {
  animation-duration: 18s;
  animation-name: slide-left;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 6s;
}
#anim3 {
  animation-duration: 18s;
  animation-name: slide-left;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 12s;
}

/* ############################################################ */

.slide-left {
	-webkit-animation: slide-left 3s both;
	        animation: slide-left 3s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-22 22:57:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(1400px);
            transform: translateX(1400px);
            opacity: 0;
  }
  8% {
    -webkit-transform: translateX(700px);
            transform: translateX(700px);
            opacity: 1;
  }
  25% {
    -webkit-transform: translateX(700px);
            transform: translateX(700px);
            opacity: 1;
  }
  33% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
            opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
            opacity: 0;
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(1400px);
            transform: translateX(1400px);
            opacity: 0;
  }
  8% {
    -webkit-transform: translateX(700px);
            transform: translateX(700px);
            opacity: 1;
  }
  25% {
    -webkit-transform: translateX(700px);
            transform: translateX(700px);
            opacity: 1;
  }
  33% {
    letter-spacing: 1em;
    filter: blur(12px) opacity(0%);
  }
  100% {
    letter-spacing: 1em;
    filter: blur(12px) opacity(0%);
  }
}

/* ############################################ */

.blur-out-expand {
	animation: blur-out-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-22 23:37:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blur-out-expand
 * ----------------------------------------
 */
 @keyframes blur-out-expand {
  0% {
    filter: blur(0.01);
  }
  100% {
    letter-spacing: 1em;
    filter: blur(12px) opacity(0%);
  }
}

/* A TESTER ! */
.pvw-title span {
  display: none;
}
.pvw-title:after {
  content: 'whatever it is you want to add';
}

/* ########################### FIN ANIMATION STUFF */

#line-rect4 {
  height: 440px;
}

#rect9 {
  background: var(--light-volet-wix);
  height: 640px;
}

#rect9 .rect-content {
  font-family: Pacifico, sans-serif;
  padding: 120px;
  vertical-align: center;
  font-size: 38px;
  text-align: top;
}